/**
 * Glassmorphism Background Styles - Editor
 */

@import './frontend.css';

.glassmorph-panel .components-color-picker {
    width: 100%;
}

.glassmorph-panel .components-range-control {
    margin-bottom: 16px;
}